<button (click)="LoadCountries()" label="Load" pButton type="button"></button>
<ng-container *ngIf="countries$ | async as countries">
  <p-table [tableStyle]="{ 'min-width': '50rem' }" [value]="countries">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-i="index" let-country>
      <tr *ngIf="toItem(country); let item" [routerLink]="[item.ccn3]">
        <td>{{ item.cca3 }}</td>
        <td>{{ item.name.common }}</td>
        <td>{{ item.capital }}</td>
        <td>{{ item.population }}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
