<script src="../models/product.ts"></script>
<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              (click)="openNew()"
              class="p-button-success mr-2"
              icon="pi pi-plus"
              label="New"
              pButton
              pRipple></button>
            <button
              (click)="deleteSelectedProducts()"
              [disabled]="!selectedProducts || !selectedProducts.length"
              class="p-button-danger"
              icon="pi pi-trash"
              label="Delete"
              pButton
              pRipple></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <div class="my-2">
            <p-fileUpload
              [maxFileSize]="1000000"
              accept="image/*"
              chooseLabel="Import"
              class="mr-2 inline-block"
              label="Import"
              mode="basic"></p-fileUpload>
            <button
              (click)="dt.exportCSV()"
              class="p-button-help"
              icon="pi pi-upload"
              label="Export"
              pButton
              pRipple></button>
          </div>
        </ng-template>
      </p-toolbar>

      <p-table
        #dt
        [(selection)]="selectedProducts"
        [globalFilterFields]="['name', 'rating', 'price', 'code']"
        [paginator]="true"
        [rowHover]="true"
        [rowsPerPageOptions]="[3, 10, 20, 30, 50]"
        [rows]="10"
        [rows]="20"
        [showCurrentPageReport]="true"
        [value]="products"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        dataKey="id"
        responsiveLayout="scroll"
        selectionMode="multiple">
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Manage Products</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                (input)="onGlobalFilter(dt, $event)"
                class="w-full sm:w-auto"
                pInputText
                placeholder="Search..."
                type="text" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="code">
              Code
              <p-sortIcon field="code"></p-sortIcon>
            </th>
            <th pSortableColumn="name">
              Name
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="price">
              Price
              <p-sortIcon field="price"></p-sortIcon>
            </th>
            <th pSortableColumn="category">
              Category
              <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th pSortableColumn="rating">
              Rating
              <p-sortIcon field="rating"></p-sortIcon>
            </th>
            <th>Image</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template let-item pTemplate="body">
          <tr *ngIf="toItem(item); let product">
            <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td>
              <span class="p-column-title">Code</span>
              {{ product.code }}
            </td>
            <td>
              <span class="p-column-title">Name</span>
              {{ product.name }}
            </td>
            <td>
              <span class="p-column-title">price</span>
              {{ product.price | currency : "USD" }}
            </td>
            <td>
              <span class="p-column-title">Category</span>
              {{ product.categories | convertArrayToString }}
            </td>
            <td>
              <span class="p-column-title">Rating</span>
              <p-rating [cancel]="false" [ngModel]="product.rating" [readonly]="true"></p-rating>
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Image</span>
              <img [alt]="product.name" [src]="product.imageUri" class="shadow-4" width="100" />
            </td>
            <td>
              <div class="flex">
                <button
                  (click)="editProduct(product)"
                  class="p-button-rounded p-button-success mr-2"
                  icon="pi pi-pencil"
                  pButton
                  pRipple></button>
                <button
                  (click)="deleteProduct(product)"
                  class="p-button-rounded p-button-warning"
                  icon="pi pi-trash"
                  pButton
                  pRipple></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog
      [(visible)]="productDialog"
      [modal]="true"
      [style]="{ width: '450px' }"
      class="p-fluid"
      header="Product Details">
      <ng-template pTemplate="content">
        <img
          *ngIf="product.imageUri"
          [alt]="product.name"
          [src]="product.imageUri"
          class="mt-0 mx-auto mb-5 block shadow-2"
          width="150" />
        <div class="field">
          <label for="name">Name</label>
          <input
            [(ngModel)]="product.name"
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && !product.name }"
            autofocus
            id="name"
            pInputText
            required
            type="text" />
          <small *ngIf="submitted && !product.name" class="ng-dirty ng-invalid"
            >Name is required.</small
          >
        </div>
        <div class="field">
          <label for="description">Description</label>
          <textarea
            [(ngModel)]="product.description"
            cols="20"
            id="description"
            pInputTextarea
            required
            rows="3"></textarea>
        </div>
        <div class="field">
          <label class="mb-3">Category</label>
          <p-multiSelect
            [(ngModel)]="product.categories"
            [options]="categories"
            appendTo="body"
            class="multiselect-custom"
            display="chip"
            optionLabel="name"
            placeholder="Select  Categories">
            <ng-template let-category pTemplate="item">
              <div class="flex align-items-center">
                <span class="ml-2">{{ category.name }}</span>
              </div>
            </ng-template>
          </p-multiSelect>
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label for="price">Price</label>
            <p-inputNumber [(ngModel)]="product.price" id="price" mode="decimal"></p-inputNumber>
          </div>
          <div class="field col">
            <label for="rating">Rating</label>
            <p-inputNumber [(ngModel)]="product.rating" id="rating"></p-inputNumber>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          (click)="hideDialog()"
          class="p-button-text"
          icon="pi pi-times"
          label="Cancel"
          pButton
          pRipple></button>
        <button
          (click)="saveProduct()"
          class="p-button-text"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="deleteProductDialog"
      [modal]="true"
      [style]="{ width: '450px' }"
      header="Confirm">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product"
          >Are you sure you want to delete <b>{{ product.name }}</b
          >?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button
          (click)="deleteProductDialog = false"
          class="p-button-text"
          icon="pi pi-times"
          label="No"
          pButton
          pRipple></button>
        <button
          (click)="confirmDelete()"
          class="p-button-text"
          icon="pi pi-check"
          label="Yes"
          pButton
          pRipple></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="deleteProductsDialog"
      [modal]="true"
      [style]="{ width: '450px' }"
      header="Confirm">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected products?</span>
      </div>
      <ng-template pTemplate="footer">
        <button
          (click)="deleteProductsDialog = false"
          class="p-button-text"
          icon="pi pi-times"
          label="No"
          pButton
          pRipple></button>
        <button
          (click)="confirmDeleteSelected()"
          class="p-button-text"
          icon="pi pi-check"
          label="Yes"
          pButton
          pRipple></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
